// Define variables for your color scheme

// For example:

// app colours

$navy: #2A324B;
$dark_blue: #084C61;
$teal: #068D9D;
$blue: #46B1C9;
$light_blue: #9CFFFA;
$light-gray: #F4F4F4;
$gray: #0E0000;

// bootstrap colours


$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
// $blue: #22577A;
// $light_blue: #38A3A5;
$dark_green: #57CC99;
$mid_green: #80ED99;
$green: #C7F9CC;
$cream: #CB9957;
