  <div>
    <% if user_signed_in? %>
        <%= image_tag "rob_baby.jpg", class: "top-avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Your profile", "/users/:id", class: "dropdown-item", style: "color: black" %>
          <%= link_to "Log out", "/users/sign_out", class: "dropdown-item", data: {turbo_method: :delete}, style: "color: black"  %>
        </div>
    <% else %>
      <div class="nav-item-login">
        <%= link_to "<i class='fa-solid fa-user'></i>".html_safe, new_user_session_path, class: "nav-link"  %>
      </div >
    <% end %>
  </div>
