<h1 style="text-align:center;">This a booking form</h1>
<div class="container">
<%= simple_form_for [@event, @booking]  do |f| %>
  <%= f.input :quantity %>
  <%= f.button :submit %>
<% end %>
</div>
