<h1 style="text-align:center;"></h1>
<div class="container">
<%= simple_form_for [@event, @booking]  do |f| %>
  <%= f.input :quantity, label: 'How many tickets would you like?' %>
  <%= f.button :submit %>
<% end %>
</div>
