<%= link_to "Write a story", "#", class: "btn btn-ghost" %>
<%= link_to "Book now", "#", class: "btn btn-flat" %>
<%= link_to "Start now", "#", class: "btn btn-gradient" %>


<div class="socials-button">
  <div class="links"><a class="fab fa-2x fa-instagram" target="_blank" href="#"></a><a class="fab fa-2x fa-facebook" target="_blank" href="#"></a></div>
  <div class="overlay"><a>Follow Me</a></div>
</div>
