<div class="top-icons">
  <div>
    <%= link_to root_path do %>
      <%= image_tag 'logooooo.png', class: "top-avatar" %>
    <% end %>
  </div>
  <div>
    <h2> Stumbl </h2>
  </div>
  <div>
    <%= render "shared/avatar" %>
  </div>
</div>
