<div class="top-icons">
      <div>
        <a href="/events"><%= image_tag "logo.png", class: "top-avatar" %></a>
      </div>
      <div>
      <h2> Stumbl </h2>
      </div>
      <div>
        <%= render "shared/avatar" %>
      </div>
</div>