<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="map icon">
      <%= link_to "<i class='fa-solid fa-magnifying-glass'></i>".html_safe, events_path %>
    </div>
    <div class="grid icon">
      <i class="fa-solid fa-grip"></i>
    </div>
    <div class="favourite icon">
      <i class="fa-sharp fa-solid fa-heart"></i>
    </div>
  </div>
</div>
