<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="map icon">
      <i class="fa-solid fa-map-location-dot"></i>
    </div>
    <div class="grid icon">
      <i class="fa-solid fa-grip"></i>
    </div>
    <div class="favourite icon">
      <i class="fa-sharp fa-solid fa-heart"></i>
    </div>
  </div>
</div>
