<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="map icon">
      <i class="fa-solid fa-map-location-dot"></i>
    </div>
    <div class="grid icon">
      <i class="fa-solid fa-grip"></i>
    </div>
    <div class="favourite icon">
      <i class="fa-sharp fa-solid fa-heart"></i>
    </div>

    <% if user_signed_in? %>
     <%= link_to "#", class: "navbar-brand" do %>
      <%= render "shared/avatar" %>
    <% end %>
    <% else %>
      <div class="sign-in icon">
        <%= link_to "<i class='fa-solid fa-user'></i>".html_safe, new_user_session_path, class: 'button-login' %>
      </div>
    <% end %>
  </div>
</div>
