
<div class="container home-page">

  
  <div class="stumbl">
    <h2>Stumbl</h2>
  </div>
  
  <div>
   <img src="/assets/stumbl_logo.jpg" alt="Logo" width="100%" >
  </div>

  <div class="stumbl_sml">
    <%= link_to "Find an event".html_safe, events_path, class: "button-general" %>
    <%# <%= link_to "<p>Find an event</p>".html_safe, events_path, class: "stumbl_sml_text" %>
  </div>
</div>
