.banner {
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.banner h2 {
  margin: 0;
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  font-size: 10px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

a {
  color: $darker_blue;
  text-decoration: none;
}
