.button-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13e2ca;
  box-shadow: 2px 2px 0 0 #084c61;
  box-shadow: 2px 2px 0 0 #084C61;
  color: #2A324B !important;
  font-weight: 600;
  font-size: 14px;
  padding-top:6px;
  padding-bottom: 6px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 35px;
  width: 206px;
  height: 46px;
  input {
    font-size: 14px;
  }
}

.mapboxgl-marker {
  border-radius: 50% !important;
}

.button-landing:hover {
  background-color: #acf0ff;
}

a:link {
  color:#2A324B;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px !important;
}

.button-not-user {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 0 0 #084c61;
  box-shadow: 2px 2px 0 0 #084C61;
  color: #2A324B !important;
  font-weight: 600;
  font-size: 14px;
  padding-top:6px;
  padding-bottom: 6px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 35px;
  width: 206px;
  height: 46px;
  input {
    font-size: 14px;
  }
}

.card-search {
  border-radius: 20px;
}

.button-not-user.search-button {
  margin: 0 auto;
  margin-bottom: 14px;
  box-shadow: 1px 1px 0 0 #28b7a6 !important;
  padding: 2px !important;
  height: 38px;
  width: 105px;
  background-color: #28B7A6;
  color: white !important;
  border: none;
}


.button-landing:hover {
  background-color: #acf0ff;
}

a:link {
  color:#2A324B;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px !important;
}
