.card-product-user {
  overflow: hidden;
  height: 110px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
  border: black solid 2px;
  padding: 10px;
  text-align: left;
}

.card-product-user-flex {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.card-product-user img {
  height: 85px;
  width: 85px;
  object-fit: cover;
}

.card-product-user h2 {
  font-size: 12px !important;
  font-weight: bold;
  // margin: 0;
}

.card-product-user p {
  font-size: 10px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
}

.card-product-user .card-product-infos {
  padding: 20px;
  font-size: 6px;
}
