.card-product {
    overflow: hidden;
    height: 50px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
    border: black solid 2px;
    text-align: center;
  }

  .card-product img {
    height: 100%;
    width: 50px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 8px !important;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 7px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 2px;
  }

  .card-product .card-product-infos {
    padding: 16px;
    font-size: 6px;
    text-align: left;
    margin-bottom: 2px;
  }

  .card-product-infos h2 {
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
  }


.card-product-infos h2 {
  margin-bottom: 8px;
}


  a:link {
    color: black;
  }

  a:visited {
    color: black;
  }

  .red {
    color: red !important;
    font-weight: 400 !important;
    font-size: 20px !important;
  }

.favorite {
  font-size: 20px !important;
  color: red !important;
}

.fa-regular::before {
  font-size: 20px !important;
  color: red !important;
}

.scroll-container {
  overflow: scroll;
  height: 120px;

}

.scroll-container-two {
  overflow: scroll;
  height: 250px;
}


.input-style {
  border-radius: 40px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  font-family: "lato";
}
