.header-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.header-container h2 {
  padding-top: 12px;
}

.header-container i {
  align-items: center;
  justify-content: center;
}
