.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10px !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(45deg, #76f2e4, #f8f9fa) !important;
}
