.navbar-lewagon {
  background: $dark_blue;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  z-index: 10;
}

.container-fluid {
  justify-content: space-around !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.icon i {
  color: $blue;
  font-size: 20px;
  transition: 0.5s;

  &:hover {
    color: white;
  }
}

.navbar-toggler span {
  color: $blue;
}

#offCanvasBottom {
  height: 90vh;
}

#offCanvasHeart {
  height: 90vh;
}

.offcanvas-title {
  margin-bottom: -14px;
  margin-left: 13px;
  font-family: "Lato";
  color: #084053;
  font-weight: bold;
}
