.navbar-top {
  justify-content: space-around;
  background: transparent;
}

.navbar-top .navbar-collapse {
  flex-grow: 0;
}

.navbar-top .navbar-brand img {
  width: 70px;
  border: solid $blue 1.5px;
  border-radius: 50%;
}
