.offcanvas {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  background: linear-gradient(45deg, #30a396, #f8f9fa);
}

.offcanvas.offcanvas-end {
  top: 150px;
  bottom: 67px;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

#offCanvasBottom {
  height: 92vh;
}

#offCanvasHeart {
  height: 90vh;
}

.style{
  top: 0;
  bottom: 30vh;
  border-radius: 0px 0px 20px 20px !important;
}
