.offcanvas {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  background: linear-gradient(45deg, #30a396, #f8f9fa);
}

.offcanvas.offcanvas-end {
  top: 377px;
  bottom: 67px;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

#offCanvasBottom {
  height: 92vh;
}

#offCanvasHeart {
  height: 90vh;
}
