.user-nav {
   width: 100%;
}

.nav-link {
    // padding-left: 55px;
    // padding-right: 55px;
   width: 100%;
}

.nav-item {
  flex-grow: 1;

}

.profile_card {

   border: black solid 1px;
   border-radius: 10px;
   background-color: white;
   margin: 10px;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);

}