// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background: linear-gradient(45deg, #76f2e4, #f8f9fa)
}


.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

// $darker_blue;

.top-icons {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  color: black;
}

.top-icons h2 {
  font-size: 40px;
  font-family: "Bubblegum Sans";
  letter-spacing: 1.5px;
  color: #09485d;
  align-items: center;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  margin: 2px;
}

.dropdown-menu {
border-radius: 6px;
border: solid 0.5px;
padding: 2px;
min-width: 140px;
}

a:link {
  text-align: right;
  font-size: 17px !important;
  font-weight: 550;
  letter-spacing: 1px;
}
